In [1]:
from bs4 import BeautifulSoup as bs
import pandas as pd
import re
from selenium import webdriver
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get('https://www.usnews.com/news/best-states/rankings/opportunity/affordability')

====== WebDriver manager ======
Current google-chrome version is 102.0.5005
Get LATEST chromedriver version for 102.0.5005 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/102.0.5005.61/chromedriver_mac64.zip
Driver has been saved in cache [/Users/michaelraines/.wdm/drivers/chromedriver/mac64/102.0.5005.61]
/var/folders/qc/_ykx45d102d0nr51ysx4tb4h0000gn/T/ipykernel_66036/692319178.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

In [3]:
soup = BeautifulSoup(driver.page_source, 'lxml')
tables = soup.find_all('table')

# print(soup.prettify())

In [4]:
#the return is a jumbled array of tables, what I want is in the last one
data = pd.read_html(str(tables))
data

[      0      1   2
 0  Rank  State NaN,
                                  0
 0           44WashingtonWashington
 1             23MinnesotaMinnesota
 2                       34UtahUtah
 3     38New HampshireNew Hampshire
 4                     30IdahoIdaho
 5               11NebraskaNebraska
 6               28VirginiaVirginia
 7             19WisconsinWisconsin
 8     48MassachusettsMassachusetts
 9                 31FloridaFlorida
 10                39VermontVermont
 11                       4IowaIowa
 12  24North CarolinaNorth Carolina
 13      21North DakotaNorth Dakota
 14      14South DakotaSouth Dakota,
     0                     1   2
 0  44  WashingtonWashington NaN,
     0                   1   2
 0  23  MinnesotaMinnesota NaN,
     0         1   2
 0  34  UtahUtah NaN,
     0                           1   2
 0  38  New HampshireNew Hampshire NaN,
     0           1   2
 0  30  IdahoIdaho NaN,
     0                 1   2
 0  11  NebraskaNebraska NaN,
     0                 1   2
 0  28  VirginiaVirginia NaN,
     0                   1   2
 0  19  WisconsinWisconsin NaN,
     0                           1   2
 0  48  MassachusettsMassachusetts NaN,
     0               1   2
 0  31  FloridaFlorida NaN,
     0               1   2
 0  39  VermontVermont NaN,
    0         1   2
 0  4  IowaIowa NaN,
     0                             1   2
 0  24  North CarolinaNorth Carolina NaN,
     0                         1   2
 0  21  North DakotaNorth Dakota NaN,
     0                         1   2
 0  14  South DakotaSouth Dakota NaN,
     0                 1   2
 0  43  ColoradoColorado NaN,
     0                 1   2
 0  42  MarylandMaryland NaN,
     0               1   2
 0  13  GeorgiaGeorgia NaN,
     0                     1   2
 0  37  New JerseyNew Jersey NaN,
     0                       1   2
 0  40  ConnecticutConnecticut NaN,
     0                 1   2
 0  36  New YorkNew York NaN,
     0             1   2
 0  46  OregonOregon NaN,
     0                 1   2
 0  27  DelawareDelaware NaN,
     0                     1   2
 0  49  CaliforniaCalifornia NaN,
     0             1   2
 0  50  HawaiiHawaii NaN,
     0             1   2
 0  12  KansasKansas NaN,
     0           1   2
 0  35  MaineMaine NaN,
    0                 1   2
 0  5  MissouriMissouri NaN,
     0                   1   2
 0  17  TennesseeTennessee NaN,
     0                 1   2
 0  16  IllinoisIllinois NaN,
     0           1   2
 0  22  TexasTexas NaN,
    0               1   2
 0  6  IndianaIndiana NaN,
     0               1   2
 0  32  MontanaMontana NaN,
     0                         1   2
 0  45  Rhode IslandRhode Island NaN,
     0               1   2
 0  33  WyomingWyoming NaN,
    0         1   2
 0  1  OhioOhio NaN,
     0             1   2
 0  41  NevadaNevada NaN,
    0                 1   2
 0  3  MichiganMichigan NaN,
     0               1   2
 0  29  ArizonaArizona NaN,
     0                         1   2
 0  15  PennsylvaniaPennsylvania NaN,
    0                 1   2
 0  9  KentuckyKentucky NaN,
     0                             1   2
 0  25  South CarolinaSouth Carolina NaN,
    0                 1   2
 0  2  OklahomaOklahoma NaN,
    0                 1   2
 0  7  ArkansasArkansas NaN,
     0             1   2
 0  47  AlaskaAlaska NaN,
     0               1   2
 0  18  AlabamaAlabama NaN,
    0                           1   2
 0  8  West VirginiaWest Virginia NaN,
     0                     1   2
 0  26  New MexicoNew Mexico NaN,
     0                       1   2
 0  10  MississippiMississippi NaN,
     0                   1   2
 0  20  LouisianaLouisiana NaN,
     0                     1   2
 0  44  WashingtonWashington NaN,
     0                   1   2
 0  23  MinnesotaMinnesota NaN,
     0         1   2
 0  34  UtahUtah NaN,
     0                           1   2
 0  38  New HampshireNew Hampshire NaN,
     0           1   2
 0  30  IdahoIdaho NaN,
     0                 1   2
 0  11  NebraskaNebraska NaN,
     0                 1   2
 0  28  VirginiaVirginia NaN,
     0                   1   2
 0  19  WisconsinWisconsin NaN,
     0                           1   2
 0  48  MassachusettsMassachusetts NaN,
     0               1   2
 0  31  FloridaFlorida NaN,
     0               1   2
 0  39  VermontVermont NaN,
    0         1   2
 0  4  IowaIowa NaN,
     0                             1   2
 0  24  North CarolinaNorth Carolina NaN,
     0                         1   2
 0  21  North DakotaNorth Dakota NaN,
     0                         1   2
 0  14  South DakotaSouth Dakota NaN,
     0                 1   2
 0  43  ColoradoColorado NaN,
     0                 1   2
 0  42  MarylandMaryland NaN,
     0               1   2
 0  13  GeorgiaGeorgia NaN,
     0                     1   2
 0  37  New JerseyNew Jersey NaN,
     0                       1   2
 0  40  ConnecticutConnecticut NaN,
     0                 1   2
 0  36  New YorkNew York NaN,
     0             1   2
 0  46  OregonOregon NaN,
     0                 1   2
 0  27  DelawareDelaware NaN,
     0                     1   2
 0  49  CaliforniaCalifornia NaN,
     0             1   2
 0  50  HawaiiHawaii NaN,
     0             1   2
 0  12  KansasKansas NaN,
     0           1   2
 0  35  MaineMaine NaN,
    0                 1   2
 0  5  MissouriMissouri NaN,
     0                   1   2
 0  17  TennesseeTennessee NaN,
     0                 1   2
 0  16  IllinoisIllinois NaN,
     0           1   2
 0  22  TexasTexas NaN,
    0               1   2
 0  6  IndianaIndiana NaN,
     0               1   2
 0  32  MontanaMontana NaN,
     0                         1   2
 0  45  Rhode IslandRhode Island NaN,
     0               1   2
 0  33  WyomingWyoming NaN,
    0         1   2
 0  1  OhioOhio NaN,
     0             1   2
 0  41  NevadaNevada NaN,
    0                 1   2
 0  3  MichiganMichigan NaN,
     0               1   2
 0  29  ArizonaArizona NaN,
     0                         1   2
 0  15  PennsylvaniaPennsylvania NaN,
    0                 1   2
 0  9  KentuckyKentucky NaN,
     0                             1   2
 0  25  South CarolinaSouth Carolina NaN,
    0                 1   2
 0  2  OklahomaOklahoma NaN,
    0                 1   2
 0  7  ArkansasArkansas NaN,
     0             1   2
 0  47  AlaskaAlaska NaN,
     0               1   2
 0  18  AlabamaAlabama NaN,
    0                           1   2
 0  8  West VirginiaWest Virginia NaN,
     0                     1   2
 0  26  New MexicoNew Mexico NaN,
     0                       1   2
 0  10  MississippiMississippi NaN,
     0                   1   2
 0  20  LouisianaLouisiana NaN,
     Rank  Unnamed: 1                         State  Unnamed: 3  \
 0    NaN         NaN                           NaN         NaN
 1    1.0         NaN                      OhioOhio         NaN
 2    2.0         NaN              OklahomaOklahoma         NaN
 3    3.0         NaN              MichiganMichigan         NaN
 4    4.0         NaN                      IowaIowa         NaN
 5    5.0         NaN              MissouriMissouri         NaN
 6    6.0         NaN                IndianaIndiana         NaN
 7    7.0         NaN              ArkansasArkansas         NaN
 8    8.0         NaN    West VirginiaWest Virginia         NaN
 9    9.0         NaN              KentuckyKentucky         NaN
 10  10.0         NaN        MississippiMississippi         NaN
 11   NaN         NaN                           NaN         NaN
 12  11.0         NaN              NebraskaNebraska         NaN
 13  12.0         NaN                  KansasKansas         NaN
 14  13.0         NaN                GeorgiaGeorgia         NaN
 15  14.0         NaN      South DakotaSouth Dakota         NaN
 16  15.0         NaN      PennsylvaniaPennsylvania         NaN
 17  16.0         NaN              IllinoisIllinois         NaN
 18  17.0         NaN            TennesseeTennessee         NaN
 19  18.0         NaN                AlabamaAlabama         NaN
 20  19.0         NaN            WisconsinWisconsin         NaN
 21  20.0         NaN            LouisianaLouisiana         NaN
 22   NaN         NaN                           NaN         NaN
 23  21.0         NaN      North DakotaNorth Dakota         NaN
 24  22.0         NaN                    TexasTexas         NaN
 25  23.0         NaN            MinnesotaMinnesota         NaN
 26  24.0         NaN  North CarolinaNorth Carolina         NaN
 27  25.0         NaN  South CarolinaSouth Carolina         NaN
 28  26.0         NaN          New MexicoNew Mexico         NaN
 29  27.0         NaN              DelawareDelaware         NaN
 30  28.0         NaN              VirginiaVirginia         NaN
 31  29.0         NaN                ArizonaArizona         NaN
 32  30.0         NaN                    IdahoIdaho         NaN
 33   NaN         NaN                           NaN         NaN
 34  31.0         NaN                FloridaFlorida         NaN
 35  32.0         NaN                MontanaMontana         NaN
 36  33.0         NaN                WyomingWyoming         NaN
 37  34.0         NaN                      UtahUtah         NaN
 38  35.0         NaN                    MaineMaine         NaN
 39  36.0         NaN              New YorkNew York         NaN
 40  37.0         NaN          New JerseyNew Jersey         NaN
 41  38.0         NaN    New HampshireNew Hampshire         NaN
 42  39.0         NaN                VermontVermont         NaN
 43  40.0         NaN        ConnecticutConnecticut         NaN
 44   NaN         NaN                           NaN         NaN
 45  41.0         NaN                  NevadaNevada         NaN
 46  42.0         NaN              MarylandMaryland         NaN
 47  43.0         NaN              ColoradoColorado         NaN
 48  44.0         NaN          WashingtonWashington         NaN
 49  45.0         NaN      Rhode IslandRhode Island         NaN
 50  46.0         NaN                  OregonOregon         NaN
 51  47.0         NaN                  AlaskaAlaska         NaN
 52  48.0         NaN    MassachusettsMassachusetts         NaN
 53  49.0         NaN          CaliforniaCalifornia         NaN
 54  50.0         NaN                  HawaiiHawaii         NaN

     Cost of Living  Unnamed: 5  Housing Affordability
 0              NaN         NaN                    NaN
 1              6.0         NaN                    2.0
 2              8.0         NaN                    3.0
 3              4.0         NaN                    7.0
 4             17.0         NaN                    1.0
 5              3.0         NaN                    9.0
 6             11.0         NaN                    4.0
 7              2.0         NaN                   13.0
 8             13.0         NaN                    5.0
 9              7.0         NaN                   15.0
 10             1.0         NaN                   20.0
 11             NaN         NaN                    NaN
 12            21.0         NaN                    6.0
 13            16.0         NaN                   12.0
 14             9.0         NaN                   18.0
 15            23.0         NaN                   11.0
 16            26.0         NaN                    8.0
 17            19.0         NaN                   14.0
 18             5.0         NaN                   26.0
 19            10.0         NaN                   25.0
 20            20.0         NaN                   16.0
 21            15.0         NaN                   23.0
 22             NaN         NaN                    NaN
 23            33.0         NaN                   10.0
 24            14.0         NaN                   28.0
 25            28.0         NaN                   17.0
 26            12.0         NaN                   31.0
 27            18.0         NaN                   32.0
 28            24.0         NaN                   35.0
 29            34.0         NaN                   24.0
 30            30.0         NaN                   34.0
 31            27.0         NaN                   37.0
 32            22.0         NaN                   42.0
 33             NaN         NaN                    NaN
 34            25.0         NaN                   41.0
 35            29.0         NaN                   44.0
 36            32.0         NaN                   39.0
 37            31.0         NaN                   45.0
 38            39.0         NaN                   30.0
 39            37.0         NaN                   38.0
 40            42.0         NaN                   22.0
 41            43.0         NaN                   21.0
 42            41.0         NaN                   29.0
 43            46.0         NaN                   19.0
 44             NaN         NaN                    NaN
 45            35.0         NaN                   43.0
 46            44.0         NaN                   27.0
 47            36.0         NaN                   48.0
 48            38.0         NaN                   47.0
 49            45.0         NaN                   33.0
 50            40.0         NaN                   46.0
 51            48.0         NaN                   36.0
 52            47.0         NaN                   40.0
 53            50.0         NaN                   49.0
 54            49.0         NaN                   50.0  ]

In [5]:
len(data)

103

In [6]:
data[102]

,Rank,Unnamed: 1,State,Unnamed: 3,Cost of Living,Unnamed: 5,Housing Affordability
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,NaN,OhioOhio,NaN,6.0,NaN,2.0
2,2.0,NaN,OklahomaOklahoma,NaN,8.0,NaN,3.0
3,3.0,NaN,MichiganMichigan,NaN,4.0,NaN,7.0
4,4.0,NaN,IowaIowa,NaN,17.0,NaN,1.0
5,5.0,NaN,MissouriMissouri,NaN,3.0,NaN,9.0
6,6.0,NaN,IndianaIndiana,NaN,11.0,NaN,4.0
7,7.0,NaN,ArkansasArkansas,NaN,2.0,NaN,13.0
8,8.0,NaN,West VirginiaWest Virginia,NaN,13.0,NaN,5.0
9,9.0,NaN,KentuckyKentucky,NaN,7.0,NaN,15.0
10,10.0,NaN,MississippiMississippi,NaN,1.0,NaN,20.0
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,11.0,NaN,NebraskaNebraska,NaN,21.0,NaN,6.0
13,12.0,NaN,KansasKansas,NaN,16.0,NaN,12.0
14,13.0,NaN,GeorgiaGeorgia,NaN,9.0,NaN,18.0
15,14.0,NaN,South DakotaSouth Dakota,NaN,23.0,NaN,11.0
16,15.0,NaN,PennsylvaniaPennsylvania,NaN,26.0,NaN,8.0
17,16.0,NaN,IllinoisIllinois,NaN,19.0,NaN,14.0
18,17.0,NaN,TennesseeTennessee,NaN,5.0,NaN,26.0
19,18.0,NaN,AlabamaAlabama,NaN,10.0,NaN,25.0
20,19.0,NaN,WisconsinWisconsin,NaN,20.0,NaN,16.0
21,20.0,NaN,LouisianaLouisiana,NaN,15.0,NaN,23.0
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,21.0,NaN,North DakotaNorth Dakota,NaN,33.0,NaN,10.0
24,22.0,NaN,TexasTexas,NaN,14.0,NaN,28.0
25,23.0,NaN,MinnesotaMinnesota,NaN,28.0,NaN,17.0
26,24.0,NaN,North CarolinaNorth Carolina,NaN,12.0,NaN,31.0
27,25.0,NaN,South CarolinaSouth Carolina,NaN,18.0,NaN,32.0
28,26.0,NaN,New MexicoNew Mexico,NaN,24.0,NaN,35.0
29,27.0,NaN,DelawareDelaware,NaN,34.0,NaN,24.0
30,28.0,NaN,VirginiaVirginia,NaN,30.0,NaN,34.0
31,29.0,NaN,ArizonaArizona,NaN,27.0,NaN,37.0
32,30.0,NaN,IdahoIdaho,NaN,22.0,NaN,42.0
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,31.0,NaN,FloridaFlorida,NaN,25.0,NaN,41.0
35,32.0,NaN,MontanaMontana,NaN,29.0,NaN,44.0
36,33.0,NaN,WyomingWyoming,NaN,32.0,NaN,39.0
37,34.0,NaN,UtahUtah,NaN,31.0,NaN,45.0
38,35.0,NaN,MaineMaine,NaN,39.0,NaN,30.0
39,36.0,NaN,New YorkNew York,NaN,37.0,NaN,38.0
40,37.0,NaN,New JerseyNew Jersey,NaN,42.0,NaN,22.0
41,38.0,NaN,New HampshireNew Hampshire,NaN,43.0,NaN,21.0
42,39.0,NaN,VermontVermont,NaN,41.0,NaN,29.0
43,40.0,NaN,ConnecticutConnecticut,NaN,46.0,NaN,19.0
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,41.0,NaN,NevadaNevada,NaN,35.0,NaN,43.0
46,42.0,NaN,MarylandMaryland,NaN,44.0,NaN,27.0
47,43.0,NaN,ColoradoColorado,NaN,36.0,NaN,48.0
48,44.0,NaN,WashingtonWashington,NaN,38.0,NaN,47.0
49,45.0,NaN,Rhode IslandRhode Island,NaN,45.0,NaN,33.0
50,46.0,NaN,OregonOregon,NaN,40.0,NaN,46.0
51,47.0,NaN,AlaskaAlaska,NaN,48.0,NaN,36.0
52,48.0,NaN,MassachusettsMassachusetts,NaN,47.0,NaN,40.0
53,49.0,NaN,CaliforniaCalifornia,NaN,50.0,NaN,49.0
54,50.0,NaN,HawaiiHawaii,NaN,49.0,NaN,50.0

In [15]:
#create affordability dataframe from scraped table
aff_df=pd.DataFrame(data[102])
#drop garbage columns, NaN rows and reset index
aff_df=aff_df.drop(columns={'Unnamed: 1', 'Unnamed: 3', 'Unnamed: 5'}).dropna().reset_index(drop=True)
aff_df.head()

   Rank             State  Cost of Living  Housing Affordability
0   1.0          OhioOhio             6.0                    2.0
1   2.0  OklahomaOklahoma             8.0                    3.0
2   3.0  MichiganMichigan             4.0                    7.0
3   4.0          IowaIowa            17.0                    1.0
4   5.0  MissouriMissouri             3.0                    9.0

In [16]:
#regex def to pass state name through to split doubling of state name 
def split_it(state):
    return re.findall(r'[A-Z][^A-Z]*', state)

In [17]:
#apply split it which creates nested list in column
aff_df['State']=aff_df['State'].apply(split_it)

In [18]:
#Add new column to add the corrected state name 
aff_df['state']=''

In [19]:
#add correct state name in column 
#if it is a two name state (eg, North Caroilina) the split list will be four list items
#will have to concat the words together
for x in range(0, 50):
    if len(aff_df['State'][x]) == 4:
        aff_df['state'][x] = aff_df['State'][x][0] + aff_df['State'][x][1]
    else:
        aff_df['state'][x] = aff_df['State'][x][0]

/var/folders/qc/_ykx45d102d0nr51ysx4tb4h0000gn/T/ipykernel_66036/3845674606.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aff_df['state'][x] = aff_df['State'][x][0]
/var/folders/qc/_ykx45d102d0nr51ysx4tb4h0000gn/T/ipykernel_66036/3845674606.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aff_df['state'][x] = aff_df['State'][x][0] + aff_df['State'][x][1]

In [20]:
aff_df['Overall_Affordability_Rank']=aff_df['Rank'].astype(int)
aff_df['Cost_of_Living_Rank']=aff_df['Cost of Living'].astype(int)
aff_df['Housing_Affordability_Rank']=aff_df['Housing Affordability'].astype(int)
aff_df=aff_df.drop(columns={'Rank','Cost of Living', 'Housing Affordability','State'})

In [21]:
aff_df

,state,Overall_Affordability_Rank,Cost_of_Living_Rank,Housing_Affordability_Rank
0,Ohio,1,6,2
1,Oklahoma,2,8,3
2,Michigan,3,4,7
3,Iowa,4,17,1
4,Missouri,5,3,9
5,Indiana,6,11,4
6,Arkansas,7,2,13
7,West Virginia,8,13,5
8,Kentucky,9,7,15
9,Mississippi,10,1,20
10,Nebraska,11,21,6
11,Kansas,12,16,12
12,Georgia,13,9,18
13,South Dakota,14,23,11
14,Pennsylvania,15,26,8
15,Illinois,16,19,14
16,Tennessee,17,5,26
17,Alabama,18,10,25
18,Wisconsin,19,20,16
19,Louisiana,20,15,23
20,North Dakota,21,33,10
21,Texas,22,14,28
22,Minnesota,23,28,17
23,North Carolina,24,12,31
24,South Carolina,25,18,32
25,New Mexico,26,24,35
26,Delaware,27,34,24
27,Virginia,28,30,34
28,Arizona,29,27,37
29,Idaho,30,22,42
30,Florida,31,25,41
31,Montana,32,29,44
32,Wyoming,33,32,39
33,Utah,34,31,45
34,Maine,35,39,30
35,New York,36,37,38
36,New Jersey,37,42,22
37,New Hampshire,38,43,21
38,Vermont,39,41,29
39,Connecticut,40,46,19
40,Nevada,41,35,43
41,Maryland,42,44,27
42,Colorado,43,36,48
43,Washington,44,38,47
44,Rhode Island,45,45,33
45,Oregon,46,40,46
46,Alaska,47,48,36
47,Massachusetts,48,47,40
48,California,49,50,49
49,Hawaii,50,49,50

In [22]:
aff_df.to_json('json_out/affordability.json', orient='records')