In [1]:
import pandas as pd

### Education data

source:

In [2]:
ed=pd.read_csv('../csv_s/ed_data_voting_age.csv')
ed=ed.rename(columns={'Total_Voting_Age_Pop:': 'vote_age_pop','Graduate_or_professional_degree': 'grad_prof_deg'})

In [3]:
#Group & Find Pct of Population & Rank
#no hs diploma is ranked highest % of no degree as lowest
#no diploma at all
ed['no_diploma']= ed[['<_9th_grade', '9th_to_12th_grade_no diploma']].sum(axis=1)
ed['no_diploma_pct']= ed['no_diploma']/ed['vote_age_pop']*100
ed['no_diploma_rank'] = ed['no_diploma_pct'].rank(method='max', na_option='bottom').astype(int)

#rest are ranked with highest % with degrees as highest
#hs degree but no assoc or higher
ed['hs_nodegree']= ed[['High_school_graduate_(includes_equivalency)', 'Some_college_no_degree']].sum(axis=1)
ed['hs_nodegree_pct']=ed['hs_nodegree']/ed['vote_age_pop']*100
ed['hs_nodegree_rank'] = ed['hs_nodegree_pct'].rank(ascending=False, method='max', na_option='bottom').astype(int)

#2 or 4 year degree
ed['assoc_bach']= ed[['Associates_degree', 'Bachelors_degree']].sum(axis=1)
ed['assoc_bach_pct']=ed['assoc_bach']/ed['vote_age_pop']*100
ed['assoc_bach_rank'] = ed['assoc_bach_pct'].rank(ascending=False, method='max', na_option='bottom').astype(int)

# >4 year degree
ed['grad_prof_pct']=ed['grad_prof_deg']/ed['vote_age_pop']*100
ed['grad_prof_rank'] = ed['grad_prof_pct'].rank(ascending=False, method='max', na_option='bottom').astype(int)

In [4]:
#Drop Grouped Columns
ed=ed.drop(columns=['9th_to_12th_grade_no diploma','<_9th_grade', 
                    'High_school_graduate_(includes_equivalency)',
                    'Some_college_no_degree','Associates_degree','Bachelors_degree'])

In [21]:
# create a total of where each state state ranked and rank that column for total ed ranking 
# decided not to weight these but maybe should have?
ed['ed_total']= ed['no_diploma_rank']+ed['hs_nodegree_rank']+ed['assoc_bach_rank']+ed['grad_prof_rank']
ed['overall_ed_rank'] = ed['ed_total'].rank(method='max', na_option='bottom').astype(int)

In [23]:
ed

,State,vote_age_pop,grad_prof_deg,no_diploma,no_diploma_pct,no_diploma_rank,hs_nodegree,hs_nodegree_pct,hs_nodegree_rank,assoc_bach,assoc_bach_pct,assoc_bach_rank,grad_prof_pct,grad_prof_rank,ed_total,overall_ed_rank
0,Alabama,3709180,323753,462952,12.481249,49,2042862,55.075839,14,879613,23.714487,46,8.728425,40,149,49
1,Alaska,532553,53461,38702,7.267258,16,306538,57.560093,3,133852,25.134024,40,10.038625,27,86,17
2,Arizona,5049926,522374,500465,9.910343,33,2660957,52.692990,27,1366130,27.052476,32,10.344191,25,117,35
3,Arkansas,2219479,167208,258423,11.643408,46,1306950,58.885441,2,486898,21.937491,49,7.533660,50,147,47
4,California,25774911,3080214,2796065,10.848010,40,12186974,47.282313,43,7711658,29.919242,15,11.950435,14,112,33
5,Colorado,4153976,585636,278535,6.705263,8,1899559,45.728695,48,1390246,33.467839,3,14.098204,8,67,6
6,Connecticut,2615815,415855,205961,7.873684,22,1227608,46.930230,45,766391,29.298364,21,15.897722,4,92,20
7,Delaware,723159,86380,62167,8.596588,26,386858,53.495566,21,187754,25.963032,37,11.944814,15,99,25
8,District of Columbia,528025,159241,36073,6.831684,11,183270,34.708584,51,149441,28.301880,26,30.157852,1,89,19
9,Florida,15296734,1585110,1575458,10.299310,36,7728004,50.520614,36,4408162,28.817668,25,10.362408,24,121,37
10,Georgia,7482329,819393,818283,10.936207,42,3873732,51.771741,32,1970921,26.341010,36,10.951042,20,130,41
11,Hawaii,1020517,109945,64016,6.272899,2,525484,51.491940,33,321072,31.461700,7,10.773461,23,65,4
12,Idaho,1255411,104593,98718,7.863401,20,703693,56.052799,10,348407,27.752425,29,8.331375,43,102,28
13,Illinois,9064396,1125466,789641,8.711457,28,4490317,49.537961,38,2658972,29.334244,19,12.416338,11,96,22
14,Indiana,4933505,418827,511547,10.368835,37,2782485,56.399760,9,1220646,24.741963,41,8.489441,41,128,39
15,Iowa,2331653,191793,161911,6.944044,12,1270468,54.487868,17,707481,30.342465,11,8.225624,44,84,13
16,Kansas,2097052,228430,155053,7.393856,17,1098788,52.396793,29,614781,29.316440,20,10.892911,22,88,18
17,Kentucky,3362354,302701,412683,12.273633,47,1900255,56.515614,7,746715,22.208102,48,9.002651,39,141,46
18,Louisiana,3467869,272556,478412,13.795561,50,1981747,57.145959,5,735154,21.199013,50,7.859466,47,152,50
19,Maine,1070612,116866,74995,7.004872,13,566774,52.939253,25,311977,29.140062,23,10.915813,21,82,12
20,Maryland,4313168,742080,339430,7.869622,21,2022557,46.892609,46,1209101,28.032782,28,17.204987,3,98,24
21,Massachusetts,5030986,875007,391432,7.780423,19,2172292,43.178256,50,1592255,31.648965,6,17.392356,2,77,10
22,Michigan,7528995,752601,650222,8.636239,27,4137954,54.960244,15,1988218,26.407482,35,9.996035,28,105,29
23,Minnesota,4113452,456225,258178,6.276432,3,1976912,48.059683,42,1422137,34.572836,1,11.091050,19,65,4
24,Mississippi,2238133,174172,318835,14.245579,51,1228840,54.904691,16,516286,23.067709,47,7.782022,48,162,51
25,Missouri,4630115,461679,432810,9.347716,31,2561847,55.330094,13,1173779,25.350969,38,9.971221,29,111,32
26,Montana,823797,79737,54328,6.594829,5,445924,54.130326,18,243808,29.595641,17,9.679205,32,72,7
27,Nebraska,1373561,134514,92428,6.729079,9,720307,52.440845,28,426312,31.036991,9,9.793085,31,77,10
28,Nevada,2071272,173343,205791,9.935489,34,1181136,57.024669,6,511002,24.670927,42,8.368915,42,124,38
29,New Hampshire,1065299,135985,71257,6.688920,7,519581,48.773255,40,338476,31.772864,5,12.764961,10,62,1
30,New Jersey,6156380,873712,495439,8.047570,24,2859679,46.450658,47,1927550,31.309796,8,14.191976,7,86,17
31,New Mexico,1511406,167722,175295,11.598141,45,807624,53.435278,22,360765,23.869496,45,11.097084,18,130,41
32,New York,13764741,2091356,1442332,10.478454,39,6100640,44.320776,49,4130413,30.007197,14,15.193573,5,107,31
33,North Carolina,7636496,780497,768716,10.066345,35,3862401,50.578184,35,2224882,29.134855,24,10.220617,26,120,36
34,North Dakota,564942,40120,38346,6.787599,10,293144,51.889220,30,193332,34.221566,2,7.101614,51,93,21
35,Ohio,8855290,837414,827927,9.349519,32,4954137,55.945508,11,2235812,25.248320,39,9.456652,35,117,35
36,Oklahoma,2855801,226964,298846,10.464525,38,1635530,57.270447,4,694461,24.317556,44,7.947473,46,132,42
37,Oregon,3108030,362904,234097,7.532006,18,1596715,51.373861,34,914314,29.417798,18,11.676335,16,86,17
38,Pennsylvania,9778957,1095575,864199,8.837333,29,5180470,52.975691,23,2638713,26.983583,33,11.203393,17,102,28
39,Rhode Island,795022,97611,73160,9.202261,30,399308,50.226031,37,224943,28.293934,27,12.277773,12,106,30
40,South Carolina,3849680,369347,425678,11.057490,43,2030001,52.731682,26,1024654,26.616602,34,9.594226,34,137,44
41,South Dakota,644867,52575,51655,8.010179,23,345725,53.611830,20,194912,30.225147,12,8.152844,45,100,26
42,Tennessee,5082240,464836,553991,10.900528,41,2827193,55.628876,12,1236220,24.324314,43,9.146282,38,134,43
43,Texas,18578831,1789804,2117844,11.399232,44,9634758,51.858796,31,5036425,27.108406,31,9.633566,33,139,45
44,Utah,2082893,207093,130313,6.256346,1,1103271,52.968203,24,642216,30.832885,10,9.942565,30,65,4
45,Vermont,497391,69438,32806,6.595616,6,245234,49.304069,39,149913,30.139870,13,13.960446,9,67,6
46,Virginia,6198540,938682,522805,8.434325,25,2928767,47.249304,44,1808286,29.172773,22,15.143598,6,97,23
47,Washington,5344645,640468,380428,7.117928,15,2603314,48.708829,41,1720435,32.189884,4,11.983359,13,73,8
48,West Virginia,1428525,108171,175464,12.282879,48,866868,60.682732,1,278022,19.462173,51,7.572216,49,149,49
49,Wisconsin,4392490,404198,311045,7.081291,14,2365546,53.854329,19,1311701,29.862356,16,9.202024,37,86,17
50,Wyoming,435357,40971,28634,6.577131,4,245558,56.403825,8,120194,27.608147,30,9.410897,36,78,11

### Teen Birth Data

source: https://www.cdc.gov/nchs/pressroom/sosmap/teen-births/teenbirths.htm

In [28]:
birth=pd.read_csv('../csv_s/teen_birth_rate.csv')
birth.head()

   YEAR STATE  RATE                                       URL
0  2020    AL  24.8     /nchs/pressroom/states/alabama/al.htm
1  2020    AK  17.7      /nchs/pressroom/states/alaska/ak.htm
2  2020    AZ  16.6     /nchs/pressroom/states/arizona/az.htm
3  2020    AR  27.8    /nchs/pressroom/states/arkansas/ar.htm
4  2020    CA  11.0  /nchs/pressroom/states/california/ca.htm

In [29]:
#narrow to 2020 &  drop unnecessary columns
birth=birth[birth['YEAR']==2020].drop(columns={'YEAR', 'URL'}).rename(columns={'RATE': 'teen_birth_rate'})
birth.head()

  STATE  teen_birth_rate
0    AL             24.8
1    AK             17.7
2    AZ             16.6
3    AR             27.8
4    CA             11.0

In [31]:
#replace two letter code with full state name for big merge
# do it now to add DC with NaN
state= pd.read_csv('csv_s/state_abbv.csv')
births=birth.merge(state, how='outer', left_on='STATE', right_on='Abbv').drop(columns={"STATE", "Abbv"})
births.head()

   teen_birth_rate       State Region
0             24.8     Alabama  South
1             17.7      Alaska   West
2             16.6     Arizona   West
3             27.8    Arkansas  South
4             11.0  California   West

In [32]:
births['teen_birth_rank'] =births['teen_birth_rate'].rank(method='min', na_option='bottom').astype(int)
births.head()

   teen_birth_rate       State Region  teen_birth_rank
0             24.8     Alabama  South               46
1             17.7      Alaska   West               33
2             16.6     Arizona   West               29
3             27.8    Arkansas  South               49
4             11.0  California   West               12

### Merge Education & Births

In [33]:
edbirth=ed.merge(births, how="outer", left_on='State', right_on='State')

In [34]:
edbirth.head()

,State,vote_age_pop,grad_prof_deg,no_diploma,no_diploma_pct,no_diploma_rank,hs_nodegree,hs_nodegree_pct,hs_nodegree_rank,assoc_bach,assoc_bach_pct,assoc_bach_rank,grad_prof_pct,grad_prof_rank,ed_total,overall_ed_rank,teen_birth_rate,Region,teen_birth_rank
0,Alabama,3709180,323753,462952,12.481249,49,2042862,55.075839,14,879613,23.714487,46,8.728425,40,149,49,24.8,South,46
1,Alaska,532553,53461,38702,7.267258,16,306538,57.560093,3,133852,25.134024,40,10.038625,27,86,17,17.7,West,33
2,Arizona,5049926,522374,500465,9.910343,33,2660957,52.692990,27,1366130,27.052476,32,10.344191,25,117,35,16.6,West,29
3,Arkansas,2219479,167208,258423,11.643408,46,1306950,58.885441,2,486898,21.937491,49,7.533660,50,147,47,27.8,South,49
4,California,25774911,3080214,2796065,10.848010,40,12186974,47.282313,43,7711658,29.919242,15,11.950435,14,112,33,11.0,West,12

### 2020 Voting

source: https://www.census.gov/data/tables/time-series/demo/voting-and-registration/p20-585.html (table04a)

In [35]:
voting= pd.read_csv('../csv_s/2020_voting.csv', usecols=['State','Total_registered','Percent_registered','Total_voted', 'Percent_voted'])
voting.head()

        State Total_registered  Percent_registered Total_voted  Percent_voted
0     ALABAMA            2,527                67.0       2,247           59.6
1      ALASKA              383                72.6         330           62.4
2     ARIZONA            3,878                68.8       3,649           64.7
3    ARKANSAS            1,361                59.6       1,186           51.9
4  CALIFORNIA           18,001                59.3      16,893           55.7

In [36]:
# Convert to int from object
voting['Total_registered']= voting['Total_registered'].str.replace(',', '').astype(int)
voting['Total_voted']= voting['Total_voted'].str.replace(',', '').astype(int)

In [37]:
# registered and voted were per 1000, multiply to keep consistent with rest of dataset
voting["Total_registered"] = 1000 * voting["Total_registered"]
voting["Total_voted"] = 1000 * voting["Total_voted"]

In [41]:
#assign rank
voting['voted_rank'] =voting['Percent_voted'].rank(ascending=False, method='max', na_option='bottom').astype(int)
voting['registered_rank'] =voting['Percent_registered'].rank(ascending=False, method='max', na_option='bottom').astype(int)

In [42]:
#Change State from all caps to proper caps for merge
voting["State"]=voting['State'].str.title()
# Beacuse title capitalizes all first letters, DC has to be handled uniquely for consistency
voting.at[8,'State']='District of Columbia'

In [43]:
voting

,State,Total_registered,Percent_registered,Total_voted,Percent_voted,voted_rank,registered_rank
0,Alabama,2527000,67.0,2247000,59.6,37,31
1,Alaska,383000,72.6,330000,62.4,27,16
2,Arizona,3878000,68.8,3649000,64.7,18,23
3,Arkansas,1361000,59.6,1186000,51.9,51,50
4,California,18001000,59.3,16893000,55.7,47,51
5,Colorado,2993000,66.2,2837000,62.7,26,36
6,Connecticut,1850000,66.6,1681000,60.5,33,32
7,Delaware,542000,70.8,489000,63.8,23,21
8,District of Columbia,464000,80.5,448000,77.8,1,1
9,Florida,10495000,60.9,9720000,56.4,45,48
10,Georgia,5233000,65.2,4888000,60.9,32,38
11,Hawaii,673000,63.8,630000,59.7,36,43
12,Idaho,900000,65.7,843000,61.6,29,37
13,Illinois,6590000,68.2,6058000,62.7,26,25
14,Indiana,3412000,67.0,3002000,58.9,41,31
15,Iowa,1742000,73.8,1618000,68.5,11,12
16,Kansas,1398000,64.8,1297000,60.1,34,39
17,Kentucky,2450000,72.4,2210000,65.3,17,17
18,Louisiana,2286000,66.5,2041000,59.4,38,33
19,Maine,832000,76.5,766000,70.5,7,7
20,Maryland,3383000,73.4,3166000,68.7,9,14
21,Massachusetts,3546000,64.3,3249000,58.9,41,40
22,Michigan,5513000,70.8,4994000,64.1,22,21
23,Minnesota,3436000,79.2,3225000,74.3,2,2
24,Mississippi,1749000,79.1,1531000,69.2,8,3
25,Missouri,3388000,73.1,2990000,64.5,19,15
26,Montana,641000,76.6,607000,72.6,3,6
27,Nebraska,971000,67.7,892000,62.2,28,28
28,Nevada,1455000,60.6,1351000,56.3,46,49
29,New Hampshire,843000,76.6,797000,72.4,4,6
30,New Jersey,5008000,73.6,4638000,68.2,13,13
31,New Mexico,1028000,63.9,938000,58.3,42,42
32,New York,9370000,62.0,8609000,57.0,44,47
33,North Carolina,5161000,63.6,4780000,58.9,41,44
34,North Dakota,429000,75.2,373000,65.3,17,9
35,Ohio,6733000,75.2,6128000,68.5,11,9
36,Oklahoma,1884000,64.0,1631000,55.5,48,41
37,Oregon,2590000,76.9,2402000,71.3,6,4
38,Pennsylvania,7337000,74.1,6756000,68.2,13,11
39,Rhode Island,575000,68.5,515000,61.3,31,24
40,South Carolina,2713000,67.7,2459000,61.3,31,28
41,South Dakota,437000,66.3,380000,57.7,43,35
42,Tennessee,3742000,70.8,3346000,63.3,24,21
43,Texas,13343000,62.1,11874000,55.3,50,46
44,Utah,1468000,63.3,1386000,59.7,36,45
45,Vermont,365000,72.0,342000,67.5,14,18
46,Virginia,4541000,70.1,4275000,66.0,15,22
47,Washington,4029000,67.2,3854000,64.3,20,29
48,West Virginia,928000,66.4,773000,55.3,50,34
49,Wisconsin,3391000,74.7,3253000,71.7,5,10
50,Wyoming,296000,67.9,280000,64.1,22,26

### Merge Voting with Education & Birth

In [44]:
ed_birth_vote=edbirth.merge(voting, how='outer', left_on='State', right_on='State').fillna(0)

In [45]:
ed_birth_vote.head()

,State,vote_age_pop,grad_prof_deg,no_diploma,no_diploma_pct,no_diploma_rank,hs_nodegree,hs_nodegree_pct,hs_nodegree_rank,assoc_bach,...,overall_ed_rank,teen_birth_rate,Region,teen_birth_rank,Total_registered,Percent_registered,Total_voted,Percent_voted,voted_rank,registered_rank
0,Alabama,3709180,323753,462952,12.481249,49,2042862,55.075839,14,879613,...,49,24.8,South,46,2527000,67.0,2247000,59.6,37,31
1,Alaska,532553,53461,38702,7.267258,16,306538,57.560093,3,133852,...,17,17.7,West,33,383000,72.6,330000,62.4,27,16
2,Arizona,5049926,522374,500465,9.910343,33,2660957,52.692990,27,1366130,...,35,16.6,West,29,3878000,68.8,3649000,64.7,18,23
3,Arkansas,2219479,167208,258423,11.643408,46,1306950,58.885441,2,486898,...,47,27.8,South,49,1361000,59.6,1186000,51.9,51,50
4,California,25774911,3080214,2796065,10.848010,40,12186974,47.282313,43,7711658,...,33,11.0,West,12,18001000,59.3,16893000,55.7,47,51

In [47]:
ed_birth_vote.to_json('../json_out/ed_birth_vote.json', orient='records')